<div id="admin-content">
      <div class="container">
          <div class="row">
              <div class="col-md-10">
                <h1 class="admin-heading"><i class="fa fa-users"></i> All Users</h1>
              </div>
              <div class="col-md-2">
                <a class="add-new" href="/admin/add-user">add user</a>
              </div>
              <div class="col-md-12">
              
                <div id="usertable"></div>

                 
              </div>
          </div>
      </div>
  </div>

  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.3.1/dist/js/tabulator.min.js"></script>
  <script>
    const tableData = <%- JSON.stringify(users) %>
    // console.log(tableData);

    var table = new Tabulator("#usertable", {
      data: tableData,
    layout:"fitColumns",
    pagination: true,
    paginationSize:10,
    paginationSizeSelector: [3,5,7,10],
    ajaxURL:"/exampledata/ajaxprogressive",
    progressiveLoad:"scroll",
    paginationSize:5,
    placeholder:"No Data Set",
    columns:[
        {title:"Name", field:"fullname", headerFilter:"input", sorter:"string"},
        {title:"UserName", field:"username", headerFilter:"input", sorter:"string"},
        {title:"Role", field:"role",  headerFilter:"input", width:100},
        {
          title: "Actions", formatter: function(cell, formatterParams, onRendered){
            return `<a href="/admin/update-user/${cell.getData()._id}" class="btn btn-sm btn-success">Edit</a>
            <button class="btn btn-sm btn-danger delete-user" onclick="deleteUser('${cell.getData()._id}')">Delete</button>`
          }
        }
    ],
});
  </script>

  <%- contentFor('tabulatorCSS')  %> 
  <link href="https://unpkg.com/tabulator-tables@6.3.1/dist/css/tabulator.min.css" rel="stylesheet">